* {
    padding: 0;
    margin: 5px;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

body {
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(0deg, rgba(159,177,154,1) 13%, rgba(224,148,49,1) 100%);
}

#navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
}

#navbar ul {
    list-style: none;
    display: flex
}

#navbar li {
    display: inline-block;
}

#navbar a{
    /* background-color: rgb(136, 129, 129); */
    background-color: #383838;
    color: beige; /* rgb(245,245,220) */
    padding: 0;
    border-style: hidden;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    display: block;
    border-radius: 20px;
    width: 80px;
    font-size: 15px;
}

/* header h2, h4{
    text-align: center;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h2 {
    background-color: #383838;
    color: beige;
    padding: 15px;
    border-style: hidden;
    border-radius: 20px;
    font-size: 32pt;
    text-align: center;
    width: auto;
}

footer {
    padding: 5px;
    text-align: center;
}