* {
    margin: 5px;
    position: relative;
    font-family: "Montserrat", sans-serif;
}
body {
    /* adds a linear gradient background for each page */
    background: linear-gradient(0deg, rgba(159,177,154,1) 13%, rgba(224,148,49,1) 100%);
}

/* used for the navbar on each page */
#navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
}

#navbar > ul {
    list-style: none;
    display: flex
}

#navbar > ul > li {
    display: flex;
    justify-content: center;
}

/* used for the links in the navbar */
#navbar > ul > li > a{
    text-decoration: none;
    padding: 5px;
    display: block;
    width: 60px;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
header > h2 {
    padding: 8px;
    font-size: 32pt;
    width: auto;
}

header > h2, #navbar > ul > li > a {
    background-color: #383838;
    color: #f5f5dc;
    border-style: hidden;
    border-radius: 20px;
    text-align: center;
} 
footer {
    padding: 5px;
    text-align: center;
}